@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/styles/theme.css');

@font-face {
  font-family: 'STIXIntegralsUp';
  src: url('/assets/fonts/STIXIntegralsUp-Regular.woff.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gantari';
  src: url('/assets/fonts/Gantari-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "STIXIntegralsUp", sans-serif;
}