@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/styles/theme.css');

.arrow-button {
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	margin-top: auto;
	bottom: calc(50%);
	height: 32px;
	width: 32px;
	border-radius: 50%;
	color: white;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right-arrow-button {
	right: 36px;
	transform: rotate(180deg);
}

.left-arrow-button {
	left: 36px;
}